table {
  width: 100%;
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 15px;
  text-align: center;
}
th {
  background-color: #4caf50;
  color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

td > button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  cursor: pointer;

  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

td > button:hover {
  background-color: #45a049;
}

body:has(.modalorder) {
  overflow: hidden;
}

.modalorder {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  inset: 0;
  padding-top: calc(10dvh -20px);
  overflow-y: hidden;
  z-index: 5;
  padding: 32px 64px;
  display: flex;
  justify-content: center;
}

.modalorder .modal-body {
  width: 320px;
  padding: 16px 0px;
  border-radius: 8px;
  background-color: #fff;
  overflow-y: auto;
  max-height: calc(100dvh - 84px);
}

.modalorder__item {
  border-bottom: 1px solid #45a049;
  padding: 8px 16px;
}

.loader-app {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
